img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    border: solid 10px #a1cef7;
    border-radius: 50px;
}
h1 {
display: block;
text-align: center;
}
.cnt {
    margin: auto;
    display: block;
}
.cnr {
    margin: auto;
    display: block;
}